chromadb
flask
InstructorEmbedding
langchain
langchain_experimental
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-vector-stores-qdrant
llama-index-llms-together
llama-index-storage-index-store-mongodb
llama-index-storage-docstore-mongodb
llama-index-vector-stores-milvus
pyyaml
unstructured[pdf]
unstructured-client
python-dotenv
sentence-transformers==3.0.1
cython
flask-cors
xformers
pymongo
motor
openpyxl